.chat-message-group {
  display: flex;
  flex-direction: column;
}

.chat-message-group__date {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  color: var(--secondary-text-color);

  font-size: var(--text-sm);
}
