{{#> AuthLayout}}
	{{#*inline "title"}}
		Вход
	{{/inline}}
	{{> Input label="Логин" name="login" type="text"}}
	{{> Input label="Пароль" name="password" type="password"}}
	<div class="login-page-buttons">
		{{> Button label="Авторизоваться" type="primary" }}
		{{> Button label="Нет аккаунта?" type="link"}}
	</div>
{{/ AuthLayout}}