.button {
	border: unset;
	text-align: center;
	cursor: pointer;
}

.button--primary {
	padding: 12px 70px;
	border-radius: 8px;
}

.button--primary:hover(:not(:disabled)) {
	background-color: var(--primary-color-hover);
}

.button--primary:not(:disabled) {
	color: var(--contrast-color);
	background-color: var(--primary-color);
	transition: all 0.3s ease;
}
