.chat-page {
	display: flex;
}

.chat-left {
	flex: 0 0 310px;
	padding: 21px 0;
}

.chat-left__top {
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
}

.chat-left__top .arrow {
	display: inline-flex;
	width: 4px;
	height: 4px;
	border: 1px solid var(--secondary-text-color);
	border-left-color: transparent;
	border-bottom-color: transparent;
	transform: rotate(45deg);
}

.chat-left__button {
	display: flex;
	padding: 23px 10px 14px;
}

.chat-left__button .button {
	width: 100%;
}

.chat-content {
	flex-grow: 1;
	overflow: hidden;
}

.chat-content-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.chat-content-empty p {
	color: var(--secondary-text-color);
	font-size: var(--text-sm);
}

.chat-left__profile-link {
	display: flex;
	align-items: center;
	gap: 5px;
}
