.profile-info {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.profile-row {
  padding: 10px 0;
}

.profile-row:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.profile-actions {
  width: 100%;

  margin-top: 60px;
}
