<div class='chat-messages-item chat-messages-item--{{type}}'>
  {{#ifCond content 'text'}}
    <div class='chat-messages-item-text'>
      <div class='chat-messages-item-text__value'>{{value}}</div>
      <div class='chat-messages-item-text__info'>
        {{#if read}}
          <span class='chat-messages-item-text__status'>
            <i class='fa-solid fa-check-double'></i>
          </span>
        {{/if}}
        <div class='chat-messages-item-text__date'>{{date}}</div>
      </div>
    </div>
  {{/ifCond}}
</div>
