.send-message-input {
  all: unset;
  flex-grow: 1;
  padding: 10px 20px;
  background-color: var(--secondary-background-color);
  border-radius: 30px;
}

.send-message-input::placeholder {
  color: var(--secondary-text-color);
}
