@import '_variables';

body {
  overflow: auto;

  margin: 0;

  font-size: var(--text-md);
  color: var(--main-text-color);

  background-color: var(--main-background-color);
}

#app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

ul,
li,
p {
  all: unset;
}

.page {
  flex-grow: 1;
}

.page-title {
  margin: 0 0 57px 0;
}
