<div class="page profile-page">
	{{> GoBack }}
	<div class="profile-page__content">
		<div class="profile-page__card">
				<div class="profile-page__avatar">
					{{> Avatar image=image size="large"}}
					{{#if name}}
						<p class="profile-page__avatar-name">{{name}}</p>
					{{/if}}
				</div>

			{{> @partial-block }}
		</div>
	</div>
</div>