<main class='page auth-page'>
	<div class="auth-page__card">
		{{#> FormWrapper}}
			{{#*inline "title"}}
				{{> PageTitle title=title}}
			{{/inline}}
			<div class="auth-page__body">
				{{> @partial-block}}
			</div>
			<div class="auth-page__buttons">
				{{> Button label=labelOk type="primary" }}
				{{> LinkButton label=labelCancel type="primary" }}
			</div>
		{{/ FormWrapper}}
	</div>
</main>