<div class='chat-message chat-message--{{type}}'>
  {{#ifCond content 'text'}}
    <div class='chat-message-text'>
      <div class='chat-message-text__value'>{{value}}</div>
      <div class='chat-message-text__info'>
        {{#if read}}
          <span class='chat-message-text__status'>
            <i class='fa-solid fa-check-double'></i>
          </span>
        {{/if}}
        <div class='chat-message-text__date'>{{date}}</div>
      </div>
    </div>
  {{/ifCond}}
</div>
