{{#> ProfileLayout}}
	<div class="profile-edit-password-avatar">
		{{#> Avatar image=image size="large"}}{{/ Avatar}}
	</div>
	<div class="profile-edit-password">
		<div class="profile-row">
			{{> CustomInput label="Старый пароль" type="password" value=password name="oldPassword"}}
		</div>
		<div class="profile-row">
			{{> CustomInput label="Новый пароль" type="password" name="new_password"}}
		</div>
		<div class="profile-row">
			{{> CustomInput label="Повторите новый пароль" type="password" name="new_password_repeat"}}
		</div>
	</div>
	<div class="profile-edit-password__confirm-button">
		{{> Button label="Сохранить" type="primary"}}
	</div>
{{/ ProfileLayout}}