.avatar {
	border-radius: 50%;
	overflow: hidden;
	background-color: #efefef;
	position: relative;
}

.avatar--small {
	width: 34px;
	height: 34px;
}

.avatar--medium {
	width: 47px;
	height: 47px;
}

.avatar--large {
	width: 130px;
	height: 130px;
}

.avatar img {
	width: 100%;
	min-width: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
}
