.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__number {
  font-size: 40px;
  margin-bottom: 20px;
}

.not-found__text {
  font-size: 20px;
  margin-bottom: 69px;
}
